#Hover1:hover { 
    background-color: rgb(231, 231, 231);
}
#Hover2:hover { 
    background-color: rgb(231, 231, 231);
}
#Hover3:hover { 
    background-color: rgb(231, 231, 231);
}
#Hover4:hover { 
    background-color: rgb(231, 231, 231);
}
#Hover5:hover { 
    background-color: rgb(231, 231, 231);
}
.HoverTextImageAlbum {
    background-color: rgb(231, 231, 231)
}